<%= simple_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
<!--     <div id="error_explanation" we have defined this in the course model>
      <p><%#= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</p>

      <ul>
      <%#s @course.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div> -->
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :start_at %>
  </div>
  <div class="field">
    <%= f.input :end_at %>
  </div>
  <div class="field">
    <%= f.association :classroom, as: :radio_buttons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
