<h1>COURSES</h1>
<div class="left">
  <% @courses.each do |course| %>
    <div class="article">
      <h2><%= link_to course.name, course_path(course) %></h2>
      <p>FROM: <%= course.start_at.to_date %></p>
      <p>UNTIL: <%= course.end_at.to_date %></p>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%= link_to 'Delete', course_path(course), method: :delete %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag "event_calendar" %>

<%= raw event_calendar %>

