<h2><%= @course.name %></h2>

<p>Starts: <%= @course.start_at %></p>

<p>Ends: <%= @course.end_at %> </p>

<p>Classroom: <%= @course.classroom.name %></p> 

<% if user_signed_in? %>
  <% if current_user.admin? || current_user.instructor? %>
    <p>Currently Enrolled Students: 
    <% @course.users.each do |user| %>
      <%= user.email %>, 
      <p><%= 'No Students Signed-Up Yet' if @course.users.blank? %></p>
    <% end %>
  <% end %> </p>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Delete', course_path(@course), method: :delete %> |
  <% end %> 
  <% if current_user.student? %>
    <%= link_to 'Sign-up for this course', new_registration_path %> |
  <% end %>
<% end %>
<%= link_to 'Back', courses_path %>
