  <nav class="site-nav">
    <ul>
      <li>
        <%= link_to(image_tag('ga-logo.png', class:'img-thumbnail'), root_path) %>
      </li>
      <% if user_signed_in? %>
        <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
        </li>
        <li>
          <%= link_to 'My Profile' %>
        </li>
        <% if current_user.student? %>
          <li>
            <%= link_to 'My Courses', registrations_path %>
          </li>
        <% end %>
        <% if current_user.admin? || current_user.instructor? %>
            <li>
              <%= link_to('Create Course', new_course_path) %>  
            </li>
        <% end %>  
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
        <li>
          <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
      <li>
        <%= link_to('Courses', courses_path)  %>
      </li>
    </ul>
  </nav>