!!! 5
%html{lang:'en'}
  %head
    %meta{charset:'utf-8'}
    %title GA Scheduler
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", type: "text/css"}
  %body
    = render partial: 'layouts/nav'
    = yield
    %footer
      %nav
        %li= link_to 'Contact'
        %li= link_to 'About Us'